form{ 
    
    color:rgb(39, 7, 7);
    outline: none;
    font-family: 'Times New Roman', Times, serif, Courier, monospace;
    font-size: 30px;
   
  }
  .card{
    
    margin-top: 100px;
    background-color: darkgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2%;
    border: 1px solid  rgb(82, 80, 80);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  
  }
  
  body{
    background-color: rgb(246, 243, 243);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
  }
  input[type="text"], input[type="password"]{
  
    border: 1px solid rgb(127, 130, 136);
    color: black;
    outline: none;
    font-size: 19px;
    background-color: rgb(228, 228, 228);
  }