img{
    width: 2500;
    height: 300px;
    border: 1px solid black;
    transition: all 2s;
    padding: 10px;
}
img:hover{
   cursor: pointer;
   /* transform: scale(1.2,1.2); */
   /* transform: rotate(360deg);
   transform: skew(180deg); */
   transform: translate(50px, 50px);

}