body{
    color: papayawhip;
    background-image: url(/images/images.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
   
    margin-left: 400px;
    text-align: left;
    margin-top: 100px;
    height: 200px;
}
input[type="text"], input[type="email"], input[type="password"]{
    background-color: black;
    border :1px solid white;
    outline: none;
    width: 600px;
    height: 25px;
    margin-top: 6mm;
    
}
input[type="file"]{
    margin-top: 6mm;
    width: 600px;
    height: 25px;
    font-family: monospace;
}
input[type="submit"]{
    margin-top: 6mm;
    width: 600px;
    height: 30px;
    background-color: rgb(19, 47, 172);
    border: 1px solid rgb(19, 47, 172);
    outline: none;
    border-radius: 2px;
}
